{% extends "base.html" %}

{% block content %}
<!-- Full-screen background image with text overlay -->
<div class="hero-image d-lg-block" style="background-image: url('/static/images/hero.png'); background-size: cover;
                               background-attachment: fixed; background-position: center; height: 100vh;
                               width: 100%; overflow: hidden; padding: 0; margin: 0; position: relative;">
    
    <!-- Centered Text and Button -->
    <div class="hero-text text-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
                                              background-color: #c69c6d80; border-radius: 10px;">
        <h1>Welcome to Kibble Kitchen!</h1>
        {% if user.is_authenticated %}
            <h4>Your dog's favorite meal starts here!</h4>
            <a href="{% url 'browse_recipes' %}" class="btn btn-light">Browse recipes</a>
        {% else %}
            <h4>Get started today</h4>
            <a href="{% url 'account_signup' %}" class="btn btn-light">Sign up!</a>
        {% endif %}
    </div>
</div>

<!-- About us Section -->
<div class="container mt-5 d-sm-block">
    <h2 class="text-center mb-4">About Us</h2>
    <hr class="break">
    <br>
    <p>Kibble Kitchen is an online platform designed to help dog owners plan nutritious meals for their furry companions. The site offers a collection of healthy, 
       homemade dog food recipes along with a meal planning tool to ensure a balanced diet tailored to your dog's needs. Targeting dog owners who want to move beyond 
       store-bought kibble, Kibble Kitchen is perfect for those seeking to provide wholesome, natural meals for their pets while managing meal prep and tracking dietary 
       preferences.</p>
    <div class="row">
        <div class="col-md-4 text-center">
            <i class="fas fa-search fa-3x"></i>
            <br>
            <h4 class="mt-3">Browse</h4>
            <br>
            <p>Kibble Kitchen goes beyond just offering recipes; 
               it empowers dog owners to take control of their pet's 
               nutrition with easy-to-follow meal plans and detailed 
               ingredient lists.</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="fas fa-upload fa-3x"></i>
            <br>
            <h4 class="mt-3">Share</h4>
            <br>
            <p>Share and manage your favorite dog food recipes with the community.
               Kibble Kitchen is the go-to resource for pet parents dedicated to giving their 
               dogs the best possible care through thoughtful, personalised 
               feeding.</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="fas fa-calendar-alt fa-3x"></i>
            <br>
            <h4 class="mt-3">Plan</h4>
            <br>
            <p>Users can create custom meal plans, and even track their 
               dog’s nutritional intake over time.</p>
        </div>
    </div>
</div>
<br>
<hr>
<br>  

{% endblock %}