{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container pt-5">
    <!-- First Container: Recipe Image and Basic Info -->
    <div class="row">
        <div class="col-md-6 image-container">
            {% if "placeholder" in recipe.image.url %}
                <img class="card-img-top" src="{% static 'images/default.png' %}" style="position: relative; border-radius: 10px;" alt="placeholder image">
            {% else %}
                <img class="card-img-top" src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h2>{{ recipe.title }}</h2>
            <p><strong>Author:</strong> {{ recipe.author.username }}</p>
            <p><strong>Prep Time:</strong> {{ recipe.prep_time }} minutes</p>
            <p><strong>Cook Time:</strong> {{ recipe.cook_time }} minutes</p>
            <p><strong>Difficulty:</strong> {{ recipe.get_difficulty_display }}</p>
            <p><strong>Serves:</strong> {{ recipe.serves }}</p>
            
            <!-- Button for Add to Meal Plan -->
            {% if user.is_authenticated %}
                <button id="add-recipe-to-meal-plan-btn" class="btn btn-primary me-3" data-toggle="modal"
                        data-target="#mealPlanModal">Add to Meal Plan</button>
            {% endif %}

            {% if user == recipe.author %}
                <a type="button" href="{% url 'edit_recipe' recipe.id %}" class="btn btn-primary">Edit Recipe</a>
                <button type="button" id="delete-recipe-btn" class="btn btn-delete" data-recipe-id="{{ recipe.id }}">Delete Recipe</button>
            {% endif %}

        </div>
    </div>

    <!-- Second Container: Ingredients List -->
    <div class="mt-5">
        <h4>Ingredients</h4>
        <ul class="recipe-detail-list">
            {% for recipe_ingredient in recipe.ingredients_in_recipe.all %}
                <li>{{ recipe_ingredient.ingredient.name }} - {{ recipe_ingredient.quantity }} {{ recipe_ingredient.get_unit_display }}</li>
            {% endfor %}            
        </ul>        
    </div>

    <!-- Third Container: Recipe Instructions -->
    <div class="mt-5">
        <h4>Method</h4>
        <div class="card-body">
            <!-- TODO - should clean the recipe description prior to saving-->
            <p class="card-text">{{ recipe.description | safe }}</p>
        </div>        
        
        <div class="mt-5 nutrition-info">
            <h4>Nutrition Information</h4>
            <ul class="recipe-detail-list">
                <li>Calories: {{ calories| floatformat:2 }} kcal</li>
                <li>Protein: {{ protein| floatformat:2 }} g</li>
                <li>Fat: {{ fat| floatformat:2 }} g</li>
                <li>Carbohydrates: {{ carbs| floatformat:2 }} g</li>
                <li>Fiber: {{ fiber| floatformat:2 }} g</li>
            </ul>
            <div id="edamam-badge" data-color="white"></div>
        </div>

    </div>

    <!-- Fourth Container: Comments Section -->
    <!-- Displaying count of comments -->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Displaying Comments -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags
                to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="p-2 comments
                    {% if not comment.approved and comment.user == user %}
                    faded{% elif not comment.approved %} d-none{% endif %}">
                    <p class="font-weight-bold">
                        {{ comment.user }}
                        <span class="font-weight-normal">
                            {{ comment.created_at }}
                        </span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                    </div>
                    {% if not comment.approved and comment.user == user %}
                    <p class="approval">
                        This comment is awaiting approval
                    </p>
                    {% endif %}
                    {% if user.is_authenticated and comment.user == user %}
                    <button class="btn btn-delete" data-comment_id="{{ comment.id }}">Delete</button>
                    <button class="btn btn-edit" data-comment_id="{{ comment.id }}">Edit</button>
                    {% endif %}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <!-- Creating New Comments -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form id="commentForm" method="post"
                    style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit_button" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                <p>Log in to leave a comment</p>
                {% endif %}
            </div>
        </div>
    </div>    
</div>

<!-- Add recipe to meal plan modal -->
<div class="modal fade" id="mealPlanModal" tabindex="-1" aria-labelledby="mealPlanModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mealPlanModalLabel">Add to Meal Plan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Let's add this recipe to a Meal Plan. Select one below.
                <div class="form-group col-md-4">
                    <select id="meal_plan_dropdown" class="form-control">
                    {% for meal_plan in all_meal_plans %}
                    <option value="{{ meal_plan.id }}">{{ meal_plan.title }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="confirm_add_to_meal_plan_btn" href="#" class="btn btn-primary">Add to Meal Plan</a>
            </div>
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel" style="color: black;">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extras %}
<script> const recipeId = "{{recipe.id}}"; </script>
<script src="{% static 'js/comments.js' %}"></script>
<script src="{% static 'js/recipe.js' %}"></script>
<!-- Attribution for nutrition api-->
<script src="https://developer.edamam.com/attribution/badge.js"></script>
{% endblock %}