@import url('https://fonts.googleapis.com/css2?family=Eb+Garamond:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap');


/* Global */

body {
    font-family: 'Georgia', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}

.content {
    padding: 20px;
    padding-top: 100px;
    flex-grow: 1;
}

.light-bg {
    background-color: #fff;
}

.main-bg {
    background-color: #fff;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #399431;
}

.author {
    color: white;    
    margin: 4px;
    text-transform: uppercase;
}

.text-center {
    color: #960f0f;
    font-family: 'Georgia', serif;
}

p {
    color: #111213;
    font-family: 'Georgia', serif;
}

.alert {
    padding: 1rem;
    font-size: 16px;
    background-color: #000;
    color: white;
}

.alert-success {
    background-color: green;
    color: white;
}

.alert-error {
    background-color: red;
    color: white;
}

/* Navbar */

.navbar {
    padding: 0;
    color: #ffffff;
}

.navbar ul a {
    color: #c69c6d;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar a:hover {
    color: #ebc7c7;
}

.nav-item {
    font-size: large;
}

.bg-light {
    background-color: #ffffff;
}

/* Hero image */

.hero-text {
    font-family: 'Georgia', serif;
    position: relative;
    z-index: 1;
    font-size: 3.5em;
    margin: 0;
}

/* Buttons and link */
.page-link {
    color: #E84610;
}

.page-title {
    margin-top: 10%;
    margin-left: 5%;
}

.btn {
    background-color: #c69c6d;
}

.btn-light {
    color: #960f0f;
    font-weight: 700;
    border-radius: 12px;
}

.btn-delete {
    color: #fff;
    background: #960f0f;
}

.btn-signup,
.btn-edit {
    background-color: #c69c6d;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active,
.btn-secondary:hover {
    background-color: #960f0f;
    color: #fff;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #23BBBB;
    text-decoration: underline;
}

.faded {
    color: rgb(172, 175, 175);
}

.page-title {
    text-align: center;
}

/* Meal Plan */

.content-wrapper {
    min-height: calc(100vh - 100px); 
}

.bg-secondary {
    background-color: #960f0f;
}

.card-header {
    background-color: #960f0f;
    color: #fff;
}

.card-title {
    color: #24272b;
    font-family: 'Georgia', serif;
    font-weight: 600;
}

.meal-plan-card {
    height: 300px;
    width: 300px;          
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h4 {
    text-align: center;
}


/* Add recipe */
.add-recipe input, .add-recipe textarea, .add-recipe select {
    border: 1px solid #D8B646;
}

.add-recipe input[type=file] {
    border: none !important;
}

.add-recipe label {
    color: #886363;
    font-weight: bold;
} 

.clearablefileinput {
    color: #886363;
    border: none
}

.add-recipe #div_id_image a {
    color: black !important;
}


/* Footer */
footer {
    position: relative;
    margin-top: auto;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #960f0f;
    color: white;
    text-align: center;
    font-family: 'Georgia', sans-serif;
}

h5 {
    color: #ffffff;
}

.social-icons a {
    /* font-size: 20px; */
    margin: 0 10px;
    color: #ffffff;
    display: inline;
    cursor: pointer;
}

.social-icons:hover {
    color: rgb(0, 255, 255, 0.2);
    transition: 0.5ms;
}