@import url('https://fonts.googleapis.com/css2?family=Georgia:wght@100;200;300;400;500;600&family=serif:wght@300;400;500&display=swap');
:root {
    --primary-colour: #960f0f;
    --secondary-colour: #c69c6d;
    --hover-secondary-colour: #ebc7c7;
    --white-colour: #ffffff;
    --black-colour: #000000;
    --font-family: 'Georgia', serif;
    --heading-font-size: 20px;
    --text-font-size: 16px;
    --success-colour: #008000;
    --error-colour: #ff0000;
}

/* Global */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-colour);
    text-align: center;
}

p {
    color: var(--secondary-colour);
}

label {
    color: var(--secondary-colour)
}

.wrapper {
    flex: 1;
}

.content {
    padding-top: 100px;
    flex-grow: 1;
}

.light-bg {
    background-color: var(--white-colour);
}

.main-bg {
    background-color: var(--white-colour);
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: var(--primary-colour);
    color: var(--secondary-colour)
}

.author {   
    margin: 4px;
    text-transform: uppercase;
}

.text-center {
    color: var(--primary-colour);
}

#message-container {
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}

.alert {
    text-align: center;
    width: 100%;
    padding: 1rem;
    font-size: 16px;
    color: var(--white-colour);
}

.alert-success {
    background-color: var(--success-colour);
}

.alert-error {
    background-color: var(--error-colour);
}

.recipe-detail-list {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: var(--secondary-colour);
}

.meal-plan-detail-list {
    text-align: center;
    color: var(--secondary-colour);
}

.meal-plan-detail-list a {
    color: var(--secondary-colour);
}

/* Navbar */

.navbar {
    height: 100px;
    background-color: var(--primary-colour);
}

.logo {
    height: 90px;
    max-width: 100%;
}

.navbar ul a {
    color: var(--secondary-colour);
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar a:hover {
    color: var(--hover-secondary-colour);
}

.nav-item {
    font-size: large;
}

/* Hero image */

.hero-text {
    position: relative;
    z-index: 1;
    font-size: 3.5em;
    margin: 0;
}

/* Buttons and link */
.page-link {
    color: #E84610;
}

.page-title {
    margin-top: 5%;
    margin-left: 5%;
}

.btn {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
}

.btn-light {
    font-weight: 700;
    border-radius: 12px;
}

.btn-delete {
    background-color: var(--black-colour);
    color: var(--white-colour);
}

.btn-signup:hover,
.btn-signup:active,
.btn-secondary:hover {
    background-color: var(--primary-colour);
    color: var(--white-colour);
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #23BBBB;
    text-decoration: underline;
}

.faded {
    color: #ACAFAF;
}

.page-title {
    text-align: center;
}

/* Meal Plan */

.content-wrapper {
    min-height: calc(100vh - 100px); 
}

.bg-secondary {
    background-color: var(--primary-colour);
}

.card-header {
    background-color: var(--primary-colour);
    color: var(--white-colour);
}

.card-title {
    font-weight: 600;
}

.card-body {
    text-align: center;
    padding-bottom: 0;
    margin: 0;
}

.meal-plan-card {
    height: 300px;
    width: 300px;          
    padding: 20px;
    box-shadow: 0 4px 8px #0000001a;
}


/* Add recipe */
.add-recipe input, .add-recipe textarea, .add-recipe select {
    border: 1px solid #c69c6d;
}

.add-recipe input[type=file] {
    border: none !important;
}

.add-recipe label {
    color: #886363;
    font-weight: bold;
} 

.clearablefileinput {
    color: #886363;
    border: none
}

.add-recipe #div_id_image a {
    color: black !important;
}


/* Footer */
footer {
    position: relative;
    margin-top: auto;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    text-align: center;

}

.social-icons a {
    margin: 0 10px;
    color: var(--secondary-colour);
    display: inline;
    cursor: pointer;
}

.social-icons:hover {
    color: var(--hover-secondary-colour);
    transition: 0.5ms;
}

/* Media Queries */

/* Small devices (landscape phones, less than 576px */

@media screen and (max-width: 576px) {

    .navbar-collapse {
        background-color: var(--white-colour);
    }

    #ingredient_formset_tbl .ingredient-form td {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .ingredient-form button {
        width: 100%;
        margin-top: 10px;
    }
} 

/* For Medium devices (tablets, less than 1000px) */
@media screen and (max-width: 1000px) {

    .navbar-collapse {
        background-color: var(--white-colour);
    }
}

.ingredient-form td {
    max-width: 100%;
}